.Board {
    display: flex;
    flex-direction: column;
    width: 673px;
    border-radius: 0.3rem;
    background-color: #007d8f;
    padding: 15px;
}

.BoardHeader {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
    color: white;

    > div {
        display: flex;
        flex-direction: column;
    }
}

.BoardRecord {
    font-size: 35px;
    font-weight: 500;
}

.BoardTitle {
    font-size: 15px;
    font-weight: 300;
}

.BoardFooter {
    flex: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 15px;
}

.BoardSection {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 15px;
}
