@import '~normalize.css';
* {
    margin: 0;
    padding: 0;
}

@import 'components/Board';
@import 'components/Button';
@import 'components/Card';
@import 'components/Modal';

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

    font-family: 'Montserrat', sans-serif;
}
